<footer>
  Developed by <a href="[mailto:aaberg.max@gmail.com]">Max Åberg </a>
  <br />
  <%= link_to 'http://se.linkedin.com/pub/max-%C3%A5berg/65/a24/5a4' do %>
    <%= image_tag 'linkedin.png', alt: 'Linkedin icon' %>
  <% end %>
  <%= link_to '//plus.google.com/u/0/103550752250811135751' do %>
    <%= image_tag 'googleplus.png', alt: 'GooglePlus icon' %>
  <% end %>
  <%= link_to 'https://www.facebook.com/max.aaberg' do %>
    <%= image_tag 'facebook.png', alt: 'Facebook icon' %>
  <% end %>
  <%= link_to 'https://github.com/Maxenboy' do %>
    <%= image_tag 'github.png', alt: 'Github icon' %>
  <% end %>
</footer>